<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>{{'APP' | translate }}</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/parking'">{{'MENU.PARKING' | translate }}</a>
      <a mat-list-item [routerLink]="'/price'">{{'MENU.PRICE' | translate }}</a>
    </mat-nav-list>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>
      <mat-form-field>
        <h4>{{'MENU.LANGUAGE' | translate }}</h4>
        <mat-select [(value)]="language" (valueChange)="switchLang($event)">
          <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang.toUpperCase() }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
