<div class="content-page">
  <div class="display-flex">
    <div class="flex-item-end">
      <button mat-fab color="primary" (click)="new()" >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="filter-search-result">
    <div>
    </div>
  </div>
  <div class="table">
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="week_day_start">
        <mat-header-cell *matHeaderCellDef> {{'PRICE.DAY_START' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ 'COMMON.CALENDAR.WEEKDAYS.'+ row.week_day_start +'' | translate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="week_day_end">
        <mat-header-cell *matHeaderCellDef> {{'PRICE.DAY_END' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ 'COMMON.CALENDAR.WEEKDAYS.'+ row.week_day_end +'' | translate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="hour_start">
        <mat-header-cell *matHeaderCellDef> {{'PRICE.HOUR_START' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.hour_start }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="hour_end">
        <mat-header-cell *matHeaderCellDef> {{'PRICE.HOUR_END' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.hour_end }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price_per_hour">
        <mat-header-cell *matHeaderCellDef> {{'PRICE.PRICE_PER_HOUR' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.price_per_hour  | currency:'R$ '}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> {{'COMMON.BUTTON.ACTION' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
        <span mat-icon-button (click)="edit(row)">
          <mat-icon color="primary" matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate}}">edit</mat-icon>
        </span>
          <span class="action-delete" mat-icon-button (click)="remove(row)">
          <mat-icon color="warn" matTooltip="{{ 'COMMON.BUTTON.REMOVE' | translate}}">delete</mat-icon>
        </span>
        </mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="['week_day_start', 'week_day_end', 'hour_start', 'hour_end', 'price_per_hour', 'action']; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['week_day_start', 'week_day_end', 'hour_start', 'hour_end', 'price_per_hour', 'action'];">
      </mat-row>
    </mat-table>
    <mat-paginator #paginator [hidden]="paginator.length==0"
                   [length]="paginator.length"
                   [pageIndex]="getPageIndex()"
                   [pageSize]="getPageSize()"
                   [pageSizeOptions]="getPageSizeOptions()"
                   (page)="pageEvent = $event; getList(paginator)">
    </mat-paginator>
  </div>
</div>
