<div class="content-page">
  <div fxLayout="row" class="page-top-options">
    <div class="flex-item-start">
      <form (ngSubmit)="f.form.valid && search(true)" #f="ngForm" novalidate>
        <mat-form-field fxFlex="40%" class="option-field">
          <input matInput placeholder="{{'PARKING.MESSAGE.FILTER' | translate}}"
                 [(ngModel)]="filters.vehicle_number_model_color" name="filter_vehicle_number_model_color">
        </mat-form-field>
        <mat-form-field fxFlex="20%" class="option-field">
          <mat-label>{{ 'PARKING.MESSAGE.START_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="date_start" [(ngModel)]="date_filter['date_after']" name="filter_date_after">
          <mat-datepicker-toggle matSuffix [for]="date_start"></mat-datepicker-toggle>
          <mat-datepicker #date_start></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="20%" class="option-field">
          <mat-label>{{ 'PARKING.MESSAGE.END_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="date_end" [(ngModel)]="date_filter['date_before']" name="filter_date_before">
          <mat-datepicker-toggle matSuffix [for]="date_end"></mat-datepicker-toggle>
          <mat-datepicker #date_end></mat-datepicker>
        </mat-form-field>

        <div fxFlex="10%" class="option-field">
          <mat-radio-group [(ngModel)]="date_filter['entry_date_filter']"
                           [ngModelOptions]="{standalone: true}" color="primary">
            <mat-radio-button [value]="true">{{'PARKING.ENTRY_DATE' | translate}}</mat-radio-button>
            <mat-radio-button [value]="false">{{'PARKING.DEPARTURE_DATE' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="button-search">
          <button color="primary" mat-raised-button>
            {{'COMMON.BUTTON.SEARCH' | translate}}
          </button>
        </div>
      </form>
    </div>
    <div class="flex-item-end">
      <button mat-fab color="primary" (click)="new()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="filter-search-result">
    <div class="revenue_total" *ngIf="revenue_total">
      {{'PARKING.REVENUE_TOTAL' | translate}}  {{revenue_total | currency:'R$ '}}
    </div>
  </div>
  <div class="table">
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="vehicle_number">
        <mat-header-cell *matHeaderCellDef> {{'PARKING.VEHICLE_NUMBER' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.vehicle_number }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef> {{'PARKING.MODEL' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{  row.model }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef> {{'PARKING.COLOR' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.color }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="entry_date">
        <mat-header-cell *matHeaderCellDef> {{'PARKING.ENTRY_DATE' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.entry_date | date:'dd/MM/yyyy HH:mm' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price_exit">
        <mat-header-cell *matHeaderCellDef> {{'PARKING.PRICE_EXIT' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.price_exit  | currency:'R$ '}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="departure_date">
        <mat-header-cell *matHeaderCellDef> {{'PARKING.DEPARTURE_DATE' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.departure_date  | date:'dd/MM/yyyy HH:mm' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="revenue">
        <mat-header-cell *matHeaderCellDef> {{'PARKING.REVENUE' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.revenue  | currency:'R$ '}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> {{'COMMON.BUTTON.ACTION' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button [ngClass]="{'disabled': row.revenue > 0}" [disabled]="row.revenue > 0" (click)="edit(row)">
            <mat-icon matTooltip="{{ 'COMMON.BUTTON.EDIT' | translate}}" color="primary">edit</mat-icon>
          </button>
          <button mat-icon-button [ngClass]="{'disabled': row.revenue > 0}" [disabled]="row.revenue > 0"
                  (click)="parkingExit(row)">
            <mat-icon matTooltip="{{ 'PARKING.EXIT_PARKING' | translate}}" color="primary">exit_to_app</mat-icon>
          </button>
          <button mat-icon-button [ngClass]="{'disabled': row.revenue > 0}" [disabled]="row.revenue > 0" (click)="remove(row)">
            <mat-icon matTooltip="{{ 'COMMON.BUTTON.REMOVE' | translate}}" color="primary">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="['vehicle_number', 'model', 'color', 'entry_date', 'price_exit', 'departure_date', 'revenue', 'action']; sticky: true"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ['vehicle_number', 'model', 'color', 'entry_date', 'price_exit', 'departure_date', 'revenue', 'action'];">
      </mat-row>
    </mat-table>
    <mat-paginator #paginator [hidden]="paginator.length==0"
                   [length]="paginator.length"
                   [pageIndex]="getPageIndex()"
                   [pageSize]="getPageSize()"
                   [pageSizeOptions]="getPageSizeOptions()"
                   (page)="pageEvent = $event; getList(paginator)">
    </mat-paginator>
  </div>
</div>
