<div class="content-page">
  <form name="form" #f="ngForm" (submit)="f.form.valid && save()" novalidate>
    <mat-form-field class="full-width">
      <input matInput type="text" maxlength="40" [(ngModel)]="data.vehicle_number" name="vehicle_number"
             placeholder="{{'PARKING.VEHICLE_NUMBER' | translate}}" maxlength="50" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" maxlength="40" [(ngModel)]="data.model" name="model"
             placeholder="{{'PARKING.MODEL' | translate}}" maxlength="50" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" maxlength="40" [(ngModel)]="data.color" name="color"
             placeholder="{{'PARKING.COLOR' | translate}}" maxlength="50" required>
    </mat-form-field>
    <mat-dialog-actions fxLayoutAlign="end center">
      <button color="warn" type="button" mat-raised-button (click)="closeDialog()">
        {{'COMMON.BUTTON.CLOSE' | translate}}
      </button>
      <button color="primary" type="submit"  mat-raised-button>
        {{'COMMON.BUTTON.SAVE' | translate}}
      </button>
    </mat-dialog-actions>
  </form>
</div>
