<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  color="#fff"
  type="ball-clip-rotate"
></ngx-spinner>
<ng-progress [meteor]="options.meteor" [color]="options.color" [speed]="options.speed" [spinner]="options.spinner"
             [spinnerPosition]="options.spinnerPosition" [direction]="options.direction" [thick]="options.thick" [trickleSpeed]="options.trickleSpeed"
             [ease]="options.ease">
</ng-progress>
<router-outlet></router-outlet>
