.content-page {
  margin: 30px 30px;
}

.cdk-overlay-pane .content-page {
  margin: 15px;
}

.input-filter, .button-search {
  display: inline-block;
}

.input-filter {
  margin-right: 15px;
  max-width: 300px;
}

.filter-search-result {
  font-size: 14px;
  display: inline-block;

  mat-icon {
    height: 18px;
    width: 18px;
    font-size: 16px;
    vertical-align: bottom;
  }

  .filter-search-clean {
    color: #777;
    cursor: pointer;
  }
}

/*
Utils
*/
.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.hgroup {
  margin-bottom: 15px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
    margin-bottom: 0;
  }
}

.cdk-global-overlay-wrapper {
  pointer-events: auto !important;
  overflow-y: auto;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .7);
}
