@import 'variables';

button:focus {
  outline-style: dashed !important;
  outline-width: 2px !important;
}

.mat-raised-button {
  padding: 5px 40px;
}


.table {
  .mat-header-cell {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #6180CC;
  }

  .mat-sort-header-button {
    text-transform: capitalize;
    border-bottom: 1px solid #ffffff;
  }

  .disabled {
    .mat-icon {
      color: gray;
      cursor: default;
      pointer-events: none;
    }
  }

  .mat-icon:not(.action) {
    width: 14px;
    height: 14px;
  }
}

.mat-paginator-container {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
}

