@mixin positionFlexItem($side) {
  display: flex;
  align-items: center;
  width: 100%;

  @if $side == "direita" {
    justify-content: flex-end;
  }
}

.flex-item-start {
  @include positionFlexItem(esquerda)
}

.flex-item-end {
  @include positionFlexItem(direita)
}

.display-flex {
  display: flex;
}
