<div class="dialog-component">
  <h2 mat-dialog-title class="dialog-title">{{data.title}}</h2>

    <div class="dialog-subTitle">{{data.sub_title}}</div>

    <mat-dialog-content *ngFor="let item of data.itens">
      {{item}}
    </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end center">
    <button color="primary" mat-raised-button mat-dialog-close="false" tabindex="1">{{'COMMON.BUTTON.CANCEL' | translate}}</button>
    <button color="warn" mat-raised-button mat-dialog-close="data" tabindex="2">{{'COMMON.BUTTON.CONFIRM' | translate}}</button>
  </mat-dialog-actions>
</div>
