<div class="content-page">
  <form name="form" #f="ngForm" (submit)="f.form.valid && save()" novalidate>
    <mat-form-field class="full-width">
      <mat-select placeholder="{{'PRICE.DAY_START' | translate}}" [(ngModel)]="data.week_day_start"
                  name="week_day_start" [required]="true">
        <mat-option *ngFor="let day of weekDays" [value]="day">
          {{ 'COMMON.CALENDAR.WEEKDAYS.'+ day +'' | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="{{'PRICE.DAY_END' | translate}}" [(ngModel)]="data.week_day_end"
                  name="week_day_end" [required]="true">
        <mat-option *ngFor="let day of weekDays" [value]="day">
          {{ 'COMMON.CALENDAR.WEEKDAYS.'+ day +'' | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="time" maxlength="40" [(ngModel)]="data.hour_start" name="hour_start"
             placeholder="{{'PRICE.HOUR_START' | translate}}" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="time" maxlength="40" [(ngModel)]="data.hour_end" name="hour_end"
             placeholder="{{'PRICE.HOUR_END' | translate}}" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" maxlength="40" [(ngModel)]="data.price_per_hour" name="price_per_hour"
             placeholder="{{'PRICE.PRICE_PER_HOUR' | translate}}" required>
    </mat-form-field>
    <mat-dialog-actions fxLayoutAlign="end center">
      <button color="warn" type="button" mat-raised-button (click)="closeDialog()">
        {{'COMMON.BUTTON.CLOSE' | translate}}
      </button>
      <button color="primary" type="submit"  mat-raised-button>
        {{'COMMON.BUTTON.SAVE' | translate}}
      </button>
    </mat-dialog-actions>
  </form>
</div>
